#ver_soso,.dropdown-menu,.error,li.list-tab,.text,.help-block,.list-inline,.dl-horizontal,.btnupload,.veiw-menu p,.search-auto li,.alert,.btn-default,.btn,.form-group,#myupload,.ajax-newlist li,.dropdown a,.loadingtext,.btnPlay,.uploadhr,.btnFullscreen,.titlelink{font-family:"Microsoft YaHei";}
/*全局*/
img,li.list-tab,.lihover,h4,#home .detailview:hover,.glyphicon-tasks,.search-auto li,.thumbnail-title,#filelist .delete-img,.help-block,#ver_soso dl dd,#select-tag ul li span{cursor:pointer;}
/*导航*/
.navbar-header{padding-left: 40px;}
.navbar-right{padding-right: 40px;}
.navbar-right .dropdown-menu{left:0px;}
.navbar{margin-bottom:0px;}
/*login 背景图*/
.cssload-container{display: block;margin:10px auto;width:20px;}
.cssload-loading{
	width: 4px;
	height: 4px;
	margin: auto;
	text-align: left;
	transform-origin:center;
		-o-transform-origin:center;
		-ms-transform-origin:center;
		-webkit-transform-origin:center;
		-moz-transform-origin:center;
	animation:cssload-loading-ani1 1.15s ease-in-out infinite;
		-o-animation:cssload-loading-ani1 1.15s ease-in-out infinite;
		-ms-animation:cssload-loading-ani1 1.15s ease-in-out infinite;
		-webkit-animation:cssload-loading-ani1 1.15s ease-in-out infinite;
		-moz-animation:cssload-loading-ani1 1.15s ease-in-out infinite;
}
.cssload-loading i,
.cssload-loading i:before,
.cssload-loading i:after{
	content: "";
	position:absolute;
	width: 4px;
	height: 4px;
	display: inline-block;
	border-radius: 50%;
}
.cssload-loading i:before{
	transform:translate(0,-4px) scale(0.75);
		-o-transform:translate(0,-4px) scale(0.75);
		-ms-transform:translate(0,-4px) scale(0.75);
		-webkit-transform:translate(0,-4px) scale(0.75);
		-moz-transform:translate(0,-4px) scale(0.75);

}
.cssload-loading i:after{
	transform:translate(0,-7px) scale(0.5);
		-o-transform:translate(0,-7px) scale(0.5);
		-ms-transform:translate(0,-7px) scale(0.5);
		-webkit-transform:translate(0,-7px) scale(0.5);
		-moz-transform:translate(0,-7px) scale(0.5);
}
.cssload-loading i:nth-child(1){
	transform:translate(0,10px);
		-o-transform:translate(0,10px);
		-ms-transform:translate(0,10px);
		-webkit-transform:translate(0,10px);
		-moz-transform:translate(0,10px);
}
.cssload-loading i:nth-child(1),
.cssload-loading i:nth-child(1):before,
.cssload-loading i:nth-child(1):after{
	background: rgb(255,179,100);
}
.cssload-loading i:nth-child(2),
.cssload-loading i:nth-child(2):before,
.cssload-loading i:nth-child(2):after{
	background: rgb(0,168,146);
}
.cssload-loading i:nth-child(2){
	transform:rotate(90deg) translate(0,10px);
		-o-transform:rotate(90deg) translate(0,10px);
		-ms-transform:rotate(90deg) translate(0,10px);
		-webkit-transform:rotate(90deg) translate(0,10px);
		-moz-transform:rotate(90deg) translate(0,10px);
}
.cssload-loading i:nth-child(3),
.cssload-loading i:nth-child(3):before,
.cssload-loading i:nth-child(3):after{
	background: rgb(31,76,89);
}
.cssload-loading i:nth-child(3){
	transform:rotate(180deg) translate(0,10px);
		-o-transform:rotate(180deg) translate(0,10px);
		-ms-transform:rotate(180deg) translate(0,10px);
		-webkit-transform:rotate(180deg) translate(0,10px);
		-moz-transform:rotate(180deg) translate(0,10px);
}
.cssload-loading i:nth-child(4),
.cssload-loading i:nth-child(4):before,
.cssload-loading i:nth-child(4):after{
	background: rgb(255,89,84);
}
.cssload-loading i:nth-child(4){
	transform:rotate(270deg) translate(0,10px);
		-o-transform:rotate(270deg) translate(0,10px);
		-ms-transform:rotate(270deg) translate(0,10px);
		-webkit-transform:rotate(270deg) translate(0,10px);
		-moz-transform:rotate(270deg) translate(0,10px);
}


@keyframes cssload-loading-ani1{
	80%,100%{
		transform:rotate(360deg);
	}
}

@-o-keyframes cssload-loading-ani1{
	80%,100%{
		-o-transform:rotate(360deg);
	}
}

@-ms-keyframes cssload-loading-ani1{
	80%,100%{
		-ms-transform:rotate(360deg);
	}
}

@-webkit-keyframes cssload-loading-ani1{
	80%,100%{
		-webkit-transform:rotate(360deg);
	}
}

@-moz-keyframes cssload-loading-ani1{
	80%,100%{
		-moz-transform:rotate(360deg);
	}
}


.cssload-container{
	position:relative;
}
	
.cssload-whirlpool,
.cssload-whirlpool::before,
.cssload-whirlpool::after {
	position: absolute;
	top: 50%;
	left: 50%;
	border: 1px solid rgb(138,255,175);
	border-left-color: rgb(156,228,62);
	border-radius: 524px;
		-o-border-radius: 524px;
		-ms-border-radius: 524px;
		-webkit-border-radius: 524px;
		-moz-border-radius: 524px;
}

.cssload-whirlpool {
	margin: -13px 0 0 -13px;
	height: 26px;
	width: 26px;
	animation: cssload-rotate 1150ms linear infinite;
		-o-animation: cssload-rotate 1150ms linear infinite;
		-ms-animation: cssload-rotate 1150ms linear infinite;
		-webkit-animation: cssload-rotate 1150ms linear infinite;
		-moz-animation: cssload-rotate 1150ms linear infinite;
}

.cssload-whirlpool::before {
	content: "";
	margin: -12px 0 0 -12px;
	height: 23px;
	width: 23px;
	animation: cssload-rotate 1150ms linear infinite;
		-o-animation: cssload-rotate 1150ms linear infinite;
		-ms-animation: cssload-rotate 1150ms linear infinite;
		-webkit-animation: cssload-rotate 1150ms linear infinite;
		-moz-animation: cssload-rotate 1150ms linear infinite;
}

.cssload-whirlpool::after {
	content: "";
	margin: -15px 0 0 -15px;
	height: 29px;
	width: 29px;
	animation: cssload-rotate 2300ms linear infinite;
		-o-animation: cssload-rotate 2300ms linear infinite;
		-ms-animation: cssload-rotate 2300ms linear infinite;
		-webkit-animation: cssload-rotate 2300ms linear infinite;
		-moz-animation: cssload-rotate 2300ms linear infinite;
}



@keyframes cssload-rotate {
	100% {
		transform: rotate(360deg);
	}
}

@-o-keyframes cssload-rotate {
	100% {
		-o-transform: rotate(360deg);
	}
}

@-ms-keyframes cssload-rotate {
	100% {
		-ms-transform: rotate(360deg);
	}
}

@-webkit-keyframes cssload-rotate {
	100% {
		-webkit-transform: rotate(360deg);
	}
}

@-moz-keyframes cssload-rotate {
	100% {
		-moz-transform: rotate(360deg);
	}
}
.btnupload{position: relative;right: 65px;top:65px;float:right;}
#c{width:100%;height: 490px;margin-top:50px;}
/*错误提示 upload*/
.error{text-align: center;color:red;margin-top: 5px;display: none;}
/*logo*/
.logo{width:125px;position: absolute;top:6px;z-index:5;}
/*usermail*/
#usermail{cursor:default;}
#usermail:hover{color: #9d9d9d;}
/*主页 搜索*/
.form-search{width:100%;padding: 15px 30%;/*margin: 0px auto;*/position: absolute;top:47%;}
.help-block{padding-left:10px;color:#fff;}
.help-block:hover{color:#888;}
/*search 自动提示*/
.search-auto{display: none;margin-top: -4px;}
.search-auto li{width:100%!important;background-color: #fff;padding:10px 0px 10px 20px;margin-bottom:0px!important;border-bottom:1px solid #efefef;text-align: left;}
.search-auto li:hover{background-color: #f7f7f7;}
/*tab 标签*/
.tab-pane{border-left:1px solid #ddd;border-right: 1px solid #ddd;border-bottom: 1px solid #ddd;padding-left:5px; margin-bottom: 30px}
li.list-tab{color:#555;padding:10px;float: right;}
li.active_tab{color:#428BCA;}
p.text{margin:0px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
.page{text-align: center;}
/*缩略图 hover*/
.ie-width .col-xs-4{padding-left:5px;padding-right:5px;}
.ie-width .thumbnail{width:100%;border:0px;margin-bottom: 0px;}
.ie-width .thumbnail img{height:300px;}
.thumbnail-title{background-color: rgba(103,103,103,0.8);position: absolute;bottom:26px;}
/*改成4列*/
.ajax-hotlist{padding:0px;}
.ajax-hotlist .col-xs-3{padding:0px;}
.thumbnail-title p{font-size: 12px;padding-bottom: 5px;color:#fff;}
.thumbnail img,.thumbnail-title{transition: 0.3s ease-in-out;}
.thumbnail .caption{height:301px;width:97.5%;padding-top:40%;opacity:0;filter:alpha(opacity=0);top:3px;}
.thumbnail .caption:hover{opacity:1;filter:alpha(opacity=100);}
.list-inline{padding-top:5px;position: relative;}
p.text.text-center.img-button{position: absolute;top:250px;left:1.4%;width: 97.5%;padding:10px;background-color: rgba(103,103,103,0.45);}
/*分页*/
.pagination{margin:0px;}
/*列表*/
#noneHover{padding-top:5px;margin-bottom:5px;padding-left:0px;margin-left:-5px;list-style:none;margin-top:0px;line-height:20px;}
#noneHover li{float: left;border-bottom:1px solid #e8e8e8;padding:5px 2px;}
#home .list-unstyled >li ,#home .list-inline li{float: left;border-bottom:1px solid #e8e8e8;padding:5px 2px;}
#home .frist-height{height: 30px!important;font-weight: bold;}
#home .list-inline:hover{background-color: #f1f1f1;transition: 0.3s ease-in-out;}
#home .list-inline > li{height: 120px;}
#home .list-inline img{max-width:95%;margin:0% auto;}
#home .list-img{width:10%;}
#home .list-title,#profile .list-title{width:20%;}
#home .list-guanggao,#profile .list-guanggao{width:20%;}
#home .list-pinpai,#profile .list-pinpai{width:10%;}
#home .list-fenlei,#profile .list-fenlei{width:20%;}
#home .list-user,#profile .list-user{width:10%;}
#home .list-date,#profile .list-date{width:10%;color:#777;}

#profile .list-unstyled >li ,#profile .list-inline li{float: left;border-bottom:1px solid #e8e8e8;padding:5px 2px;}
#profile .frist-height{height: 30px!important;font-weight: bold;}
#profile .list-inline:hover{background-color: #f1f1f1;transition: 0.3s ease-in-out;}
#profile .list-inline > li{height: 120px;}
#profile .list-inline img{height:100px;width:100px;}
#profile .list-img{width:10%;}


.btn-post{width:10%;position: absolute;top:88px;left:10%;}
.detailview:hover{color:#005bac}
/*发布日期*/
.dateAdd .bootstrap-select{width:15%!important}
/*上传表单*/
#uploadForm b{color:red;}
#uploadForm .vcenter{border-bottom: 1px dashed #e2e2e2;position: absolute;width:60%;left:33%;top:-9px}
#uploadForm .uploadhr{margin-left: 16%;font-size:16px;color:#afafaf}
#uploadForm strong{color:#afafaf;}
/*广告节按钮*/
.adqueding,.linkqueding{margin-left: 5px;}
.adList,.linkList{margin-left: 16%;}
/*上传封面*/
#upload .form-inline,#user-update .form-inline{margin-bottom: 15px;}
#upload .form-inline .form-group,#user-update .form-inline .form-group{width:100%;}
#upload .form-inline .form-group .lab,#user-update .form-inline .form-group .lab{width:200px;text-align: right;}
#upload .form-inline .form-group .form-control,#user-update .form-inline .form-group .form-control{width:35%;}
.a-upload{padding:4px 10px;line-height:20px;position:relative;cursor:pointer;color:#6b6b6b;background:#fff;border:1px solid #ddd;border-radius:4px;overflow:hidden;display:inline-block;top:9px}
.a-upload input{position:absolute;font-size:100px;right:0;top:0;opacity:0;filter:alpha(opacity=0);cursor:pointer}
.a-upload:hover{color:#444;background:#eee;border-color:#ccc;text-decoration:none}
#clipArea,#view{width:300px;height: 500px;display: none;}
#view{height:300px;margin-left: 25%}
#clipBtn{display:none;text-align: center;margin: 0px 30%;top: -90px;position: relative;}
/*上传uploadhtml*/
.uploadhtml{width:65%!important;border:1px solid #cecece;margin-left:24%;border-radius:3px;padding-top: 8px;position: relative;bottom:28px;}
.uploadlabel{font-weight: bold;margin-left:15.4%;font-size: 14px;font-family: '微软雅黑'}
/*检索条件*/
.fluid_soso{position: absolute;top: 47%;width: 100%;margin:62px -15px;display: none;}
#ver_soso{padding:5px 10px 0px 10px; width:850px;border: 1px solid #dadada;border-radius: 5px; margin:48px auto;background-color: #fff;height:210px;}
#ver_soso #bumen,#ver_soso #fenlei,#ver_soso #guanggao,#ver_soso #pinpai,#ver_soso #adddate,#ver_soso #myhome{display: inline-table;}
#ver_soso p{margin-bottom:0px;font-weight: bold;padding:0px 10px;border-bottom:1px solid #cecece;}
#ver_soso dl dd{padding:0 10px;color:#6d6d6d;}
#ver_soso .selected{background-color: #b70000;color:#fff!important;}

/*左侧菜单*/
.mask{width:100%;background-color: rgba(123,123,123,0.5);height: 100%;position: fixed;top: 0px;z-index: 10;display: none;}
.left-tab{width:330px;height:100%;border:3px solid #fff;position: fixed;top:50px;left:-340px;background-color: #eee;z-index:999;border-radius: 5px;}
.veiw-menu .list-inline li{width:32%;}
.veiw-menu p{padding:5px;margin-bottom: 0px;font-size: 14px;font-weight: bold;}
.veiw-menu ul li{text-align: center;margin-bottom: 10px;}
.veiw-menu ul li:hover{background-color: #eee;}
.icon-box{border: 2px solid #428BCA;padding:12px 0px;border-radius: 5px;background-color:#fff;}
.icon-box a{text-decoration:none;}
.icon-box span{font-size: 12px;}
.icon-box:hover{background-color: #428BCA;}
.icon-box:hover .menu-item,.icon-box:hover span{color:#fff;}
.menu-item-icon{font-size: 30px;}

/*顶部提示警告或者公告*/
.alert-box{z-index: 10000;position: fixed;top: -70px;transition: 0.3s ease-in-out;text-align: center;}

/*loading*/
.loading_list{display: none;}
.list-conter dd{width:69%;margin-left: 175px;}
/*上传图片plupload ajax*/
#filelist{margin-bottom: 5px;padding-left:5%;}
#filelist .img-thumbnail{line-height: 100px;margin-left: 10px;position: relative;margin-bottom:5px;}
#filelist .img-thumbnail b{position: absolute;top:5px;left:0px;text-align:center;background-color: rgba(204, 204, 204, 0.7);width:100%;}
#filelist .delete-img{position: absolute;top: -6px;z-index:10;color:#fff; right: -5px;border: solid 2px #000;background-color:#000; border-radius: 50px;}
#hiddenFile{display: inline-block;}
/*多选标签*/
#select-tag{display: inline-block;padding:5px;border-radius: 5px;border:1px solid #ccc;width:65%;}
#select-tag p{margin-bottom:0px;}
#select-tag ul{padding-top:4px;}
#select-tag ul li{padding-bottom: 9px;position: relative;}
#select-tag ul li span{border-radius: 3px; background-color: #969696;color:#fff;padding: 4px;font-size: 12px;}
/*提交状态*/
.loadingtext{display: none;}

/*列表编辑页面*/
.oder_img,.oder_mp3,.oder_mp4,.oder_word{width:100px;padding: 5px;/*cursor: default;*/}

/*播放器自定义样式 控制按钮*/
.control{
	position: relative;top:-53px;/*background-color: #ffffff;*/ 
	background:linear-gradient(rgba(86,86,86,0),black); 
	background: -webkit-linear-gradient(rgba(86,86,86,0),black); /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(rgba(86,86,86,0),black); /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(rgba(86,86,86,0),black); /* Firefox 3.6 - 15 */
}
.progressTime{display: inline-table;margin-left:5px;}
.current_modes,.duration_modes,.progressTime{color:#fff;}

/*详情页*/
.pos td{padding:0px 5px 0px 0px;vertical-align: top;}
.pos .clicklink{cursor:pointer;}
/*底部*/
.footer_link{color:#ccc;text-align: center;width:100%;font-size: 12px;position: fixed;bottom:25px}
.footer_link a{color:#ccc;}
.footer_copy{text-align: center;position: fixed;bottom:0px;width:100%;color:#888;font-size: 12px;}
/*幻灯片增加link*/
.titlelink{position: absolute;text-align: center;top:0%;margin-left: 7%;height: 100%;width:85%;color:#fff;padding-top:40%;}
.titlelink:hover{color:#d2d2d2;}