
#radio-soso label.checkbox-inline,.navbar-nav a,#ver_soso,.dropdown-menu,.error,li.list-tab,.text,.help-block,.list-inline,.dl-horizontal,.btnupload,.veiw-menu p,.search-auto li,.alert,.btn-default,.btn,.form-group,#myupload,.ajax-newlist li,.dropdown a,.loadingtext{font-family:"Microsoft YaHei";}
/*全局*/
img,li.list-tab,.lihover,h4,#home .detailview:hover,.glyphicon-tasks,.search-auto li,.thumbnail-title,#filelist .delete-img,.help-block,#ver_soso dl dd,#select-tag ul li span{cursor:pointer;}
/*导航*/
.navbar-header{padding-left: 40px;}
.navbar-right{padding-right: 40px;}
.navbar-right .dropdown-menu{left:0px;}
/*.navbar-default{background-color: rgba(248,248,248,0.5);}*/
.navbar{margin-bottom:0px;}

.btnupload{position: relative;right: 65px;top:65px;float:right;}

/*媒介 新增*/
#radio-soso{padding:10px 0px;}
/*#radio-soso label.checkbox-inline{color:#fff;}*/
#radio-soso label.checkbox-inline input{position: relative;top:2px;}
#detail{margin: 0px 10%;}
#detail .vcenter{border-bottom: 1px dashed #e2e2e2;position: absolute;width:90%;left:12%;top:-9px;}
#detail .uploadhr{margin-left: 0%;font-size:16px;color:#afafaf;}
#detail .detail-title-1,#detail .detail-title-2{display: inline-table;}
#detail .detail-title-1{width:12%;font-weight:bold;}
#detail .detail-title-2{width:87%;}
#detail .detail-title-2 .label{margin-right: 5px;}
/*错误提示 upload*/
.error{text-align: center;color:red;margin-top: 5px;display: none;}
/*logo*/
.logo{width:125px;position: absolute;top:10px;}
/*主页 搜索*/
.form-search{width:100%;/*padding: 15px 30%;*//*margin: 0px auto;*/position: absolute;top:40%;}
.help-block{padding-left:10px;color:#fff;}
.help-block:hover{color:#888;}
/*search 自动提示*/
.search-auto{display: none;margin-top: -4px;}
.search-auto li{width:100%!important;background-color: #fff;padding:10px 0px 10px 20px;margin-bottom:0px!important;border-bottom:1px solid #efefef;text-align: left;}
.search-auto li:hover{background-color: #f7f7f7;}
/*tab 标签*/
.tab-pane{border-left:1px solid #ddd;border-right: 1px solid #ddd;border-bottom: 1px solid #ddd;padding:10px;margin-bottom: 30px}
li.list-tab{color:#555;padding:11px;float: right;}
li.active_tab{color:#428BCA;}
p.text{margin-top:10px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
.page{text-align: center;}
/*缩略图 hover*/
.ie-width .col-xs-4{padding-left:5px;padding-right:5px;}
.ie-width .thumbnail{width:100%;border:0px;}
.ie-width .thumbnail img{height:300px;}
.thumbnail-title{background-color: rgba(103,103,103,0.8);position: absolute;bottom:26px;}
/*改成4列*/
.ajax-hotlist{padding:0px 5px;}
.ajax-hotlist .col-xs-3{padding:0px;}
.thumbnail-title p{font-size: 12px;padding-bottom: 5px;color:#fff;}
.thumbnail img,.thumbnail-title{transition: 0.3s ease-in-out;}
.thumbnail .caption{height:301px;width:97.5%;padding-top:25%;opacity:0;filter:alpha(opacity=0);top:3px;}
.thumbnail .caption:hover{opacity:1;filter:alpha(opacity=100);}
/*.thumbnail:hover img{-webkit-transform:scale(1.0);transform:scale(1.05);}
.thumbnail:hover .thumbnail-title{bottom:18px;width:100%;margin-left: -10px;}*/
.list-inline{padding-top:5px;}
p.text.text-center.img-button{position: absolute;top:250px;left:1.4%;width: 97.5%;padding:10px;background-color: rgba(103,103,103,0.45);}
/*.inlines li{width:32%;color:#fff;}*/
/*分页*/
.pagination{margin:0px;}
/*列表*/
#home .list-unstyled >li ,#home .list-inline li{float: left;border-bottom:1px solid #e8e8e8;padding:5px 2px;}
#home .frist-height{height: 30px!important;/*background-color: #f1f1f1;*/ font-weight: bold;}
#home .list-inline:hover{background-color: #f1f1f1;transition: 0.3s ease-in-out;}
#home .list-inline > li{height: 120px;}
#home .list-inline img{margin-right:1px;}
#home .list-img{width:10%;}
#home .list-title{width:20%;}
#home .list-guanggao{width:17%;}
#home .list-pinpai{width:8%;}
#home .list-fenlei{width:20%;}
#home .list-user{width:15%;}
#home .list-date{width:10%;}

#profile .list-unstyled >li ,#profile .list-inline li{float: left;border-bottom:1px solid #e8e8e8;padding:5px 2px;}
#profile .frist-height{height: 30px!important;/*background-color: #f1f1f1;*/ font-weight: bold;}
#profile .list-inline:hover{background-color: #f1f1f1;transition: 0.3s ease-in-out;}
#profile .list-inline > li{height: 120px;}
#profile .list-inline img{margin-right:1px;}
#profile .list-img{width:10%;}
#profile .list-title{width:20%;}
#profile .list-guanggao{width:17%;}
#profile .list-pinpai{width:8%;}
#profile .list-fenlei{width:20%;}
#profile .list-user{width:15%;}
#profile .list-date{width:10%;}
.btn-post{width:20%;position: absolute;top:73px;left:10%;}
.detailview:hover{color:#005bac;}

#home .list-guanggao .label,#profile .list-guanggao .label{padding:3px;display:inline-table;border-radius: 0px;}
/*上传表单*/
#uploadForm b{color:red;}
#uploadForm .vcenter{border-bottom: 1px dashed #e2e2e2;position: absolute;width:60%;left:29%;top:-9px;}
#uploadForm .uploadhr{margin-left: 14%;font-size:16px;color:#afafaf;}
/*上传封面*/
#upload .form-inline,#user-update .form-inline{margin-bottom: 15px;}
#upload .form-inline .form-group,#user-update .form-inline .form-group{width:100%;}
#upload .form-inline .form-group .lab,#user-update .form-inline .form-group .lab{width:200px;text-align: right;}
#upload .form-inline .form-group .form-control,#user-update .form-inline .form-group .form-control{width:35%;}
.a-upload{padding:4px 10px;line-height:20px;position:relative;cursor:pointer;color:#6b6b6b;background:#fff;border:1px solid #ddd;border-radius:4px;overflow:hidden;display:inline-block;top:9px}
.a-upload input{position:absolute;font-size:100px;right:0;top:0;opacity:0;filter:alpha(opacity=0);cursor:pointer}
.a-upload:hover{color:#444;background:#eee;border-color:#ccc;text-decoration:none}
#clipArea,#view{width:300px;height: 500px;display: none;}
#view{height:300px;margin-left: 25%}
#clipBtn{display:none;text-align: center;margin: 0px 30%;top: -100px;position: relative;}
/*检索条件*/
.fluid_soso{/*position: absolute;top: 36%;*/width: 100%;margin-bottom:5px; display: none;}
#ver_soso{padding:5px 10px 0px 10px; width:850px;border: 1px solid #dadada; margin:0px auto;background-color: rgba(202,202,202,0.5);/*height:210px;*/}

/*mediabook*/
#ver_soso .list-unstyled{margin-bottom:0px;}
#ver_soso .weight{font-size: 14px;font-weight: 800;border-bottom:1px dashed #dadada;}
#ver_soso .list-inline li{color:#505050;border:1px solid #ccc;padding-bottom:2px;background-color:#f9f9f9;cursor:pointer;border-radius: 2px;margin-right:5px;margin-bottom:5px;}
#ver_soso .selected{background-color: #b70000!important;color:#fff!important;border:#b70000 1px solid!important;}


/*#ver_soso #bumen,#ver_soso #fenlei,#ver_soso #guanggao,#ver_soso #pinpai,#ver_soso #adddate,#ver_soso #myhome{display: inline-table;}
#ver_soso p{margin-bottom:3px;font-weight: bold;padding:0px 10px;border-bottom:1px dashed #cecece;}
#ver_soso dl dd{padding:0 10px;color:#fff;}
#ver_soso .selected{background-color: #b70000;color:#fff!important;border-radius: 3px;}
.scrollbar-rail > .scroll-element.scroll-y{background-color: #809da6;}*/
/*左侧菜单*/
.mask{width:100%;background-color: rgba(123,123,123,0.5);height: 100%;position: fixed;top: 0px;z-index: 10;display: none;}
.left-tab{width:330px;height:100%;border:3px solid #fff;position: fixed;top:50px;left:-340px;background-color: #eee;z-index:999;border-radius: 5px;}
.veiw-menu .list-inline li{width:32%;}
.veiw-menu p{padding:5px;margin-bottom: 0px;font-size: 14px;font-weight: bold;}
.veiw-menu ul li{text-align: center;margin-bottom: 10px;}
.veiw-menu ul li:hover{background-color: #eee;}
.icon-box{border: 2px solid #428BCA;padding:12px 0px;border-radius: 5px;background-color:#fff;}
.icon-box a{text-decoration:none;}
.icon-box span{font-size: 12px;}
.icon-box:hover{background-color: #428BCA;}
.icon-box:hover .menu-item,.icon-box:hover span{color:#fff;}
.menu-item-icon{font-size: 30px;}

/*顶部提示警告或者公告*/
.alert-box{z-index: 10000;position: fixed;top: -70px;transition: 0.3s ease-in-out;text-align: center;}

/*loading*/
.loading_list{display: none;}
/*
*/
/*上传图片plupload ajax*/
#filelist{margin-bottom: 5px;padding-left:22%;}
#filelist .img-thumbnail{line-height: 100px;margin-left: 10px;position: relative;margin-bottom:5px;}
#filelist .img-thumbnail b{position: absolute;top:5px;left:0px;text-align:center;background-color: rgba(204, 204, 204, 0.7);width:100%;}
#filelist .delete-img{position: absolute;top: -6px;z-index:10;color:#fff; right: -5px;border: solid 2px #000;background-color:#000; border-radius: 50px;}
#hiddenFile{display: inline-block;}
/*多选标签*/
#select-tag{display: inline-block;padding:5px;border-radius: 5px;border:1px solid #ccc;width:70%;}
#select-tag p{margin-bottom:0px;}
#select-tag ul{padding-top:4px;}
#select-tag ul li{padding-bottom: 9px;position: relative;}
#select-tag ul li span{border-radius: 3px;border:1px solid #ccc; background-color: #969696;color:#fff;padding: 4px;font-size: 12px;}
/*提交状态*/
.loadingtext{display: none;}

/*列表编辑页面*/
.oder_img,.oder_mp4{width:100px;padding: 5px;cursor: default;}
/*列表全文检索*/
.keword div{margin-left:10%;}
.keword div img{width:12px;}
.keword div .textareas{width:70%;}
/*检索 新增透明*/
/*#ver_soso{background-color: rgba(255,255,255,0.8) }
.scrollbar-rail > .scroll-element.scroll-y{background-color: rgba(255,255,255,0);}